/* body Element (������ ��ü)�� ������ CSS */
body{
    margin: 0;
    padding: 0;
      /* font-family: �ʫ��ꫪ, Osaka;*/
    font-family: helvetica, 'MS PGothic', Osaka, "Malgun Gothic", gulim;
    color: #000000;
    background-color: #f0f8ff;
}

/* h2, h3 Element�� ����*/
h2, h3{
  font-size: 1.0em;
}
/* a Element(��ũ)�� ����*/
a {
  color: #3399cc;
}
#wrapper {
  vertical-align: middle;;
  margin-left: 5%;
  margin-right: 5%;
  width:90%;
  min-width:1000px;
}
form {
	display:inline;
}

.top_menu_li > a:link {text-decoration:none; color:#E6DE9F;}
.top_menu_li > a:visited {text-decoration:none; color:#E6DE9F;}
.top_menu_li > a:active {text-decoration:none; color:#E6DE9F;}
.top_menu_li > a:hover {text-decoration:none; color:#E6DE9F;}


#wrap {
	vertical-align: middle;
	margin-left: 5%;
	margin-right: 5%;
	width:90%;
	min-width:1000px;
}
#top{
	margin-bottom:5px;

}
#top_wrap{
	background-image: url(./img/topimg.jpg);
}

#top_logo {
	display:inline;

}
#top_right {
	display:inline;
	vertical-align: top;
	width:20%;
}
#login_box{
	display:inline;
	vertical-align: top;
	font-size:20px;
	font-weight:bold;
	padding: 20px;
	position:absolute;
	min-width:380px;
	background-color: #B4AF89;
}

#login_box > a:link {text-decoration:none; color:#3C2E25;}
#login_box > a:visited {text-decoration:none; color:#3C2E25;}
#login_box > a:active {text-decoration:none; color:#3C2E25;}
#login_box > a:hover {text-decoration:none; color:#3C2E25;}


#top_menu_wrap {
	background-color: #3C2E25;
	vertical-align: middle;
	text-align:center;
	height:40px;
	width:100%;
	font-size:23px;
	font-weight:bold;

}
#top_menu_wrap > ul >li {
	display:inline-block;
	background-color: #584A30;
	border:solid 2px #584A30;
	padding: 4px;
	width:12%;
}

.top_menu {
	display:inline;
	border:solid 2px #935532;
	margin:1px;
	padding-left:5px;
	padding-right:5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#main{
	background-color: #DFE0C6;
}
#main_wrap {
	text-align: center;
}

#main_wrap_title {
	font-size: 100px;
}
#bottom {
	height:100px;
	background-color: #3C2E25;
}

/* ID Selector #header Element�� ���Ե� h1 Element�� ����*/
#header h1{
  font-size: 1.4em;
  font-family: Times New Romman, Osaka;
  margin: 5px 100px;
}
/* ID Selector #header Element�� ���Ե� h1->a Element�� ����*/
#header h1 a{
  color: #ff0000;
  text-decoration: none;
}
/* ID Selecter #header Element�� ���Ե� h1->a Element�� mouseover�Ǹ� ����*/
#header h1 a:hover{
  color: #ff6600;
}

/* ID Selector #nav(�׺����̼�) Element�� ����*/
#nav{
  margin: 0 100px;
}

/* ID Selector #main(���� ������) Element�� ����*/
#main{
  margin: 0 100px;
}


/*Class Selector status�� �����Ǿ��ִ� Element�� ����*/
.status{
  padding: 10px;
  border: 2px solid #cccccc;
  margin-bottom: 10px;
  background-color: #ffffff
}

/* Class Selector error_list�� �����Ǿ��ִ� ul Element�� ����*/
ul.error_list{
  border: 1px solid #ff0000;
  background-color: #ffcccc;
  padding-top: 10px;
  padding-bottom: 10px;

}

/* Class Selector error_list�� �����Ǿ� �ִ� ul Element�� ���ԵǾ� �ִ� li Element�� ����*/
ul.error_list li{
  color: #ff0000;
}

/* Class Selector account�� �����Ǿ� �ִ� Element�� ����*/
.account{
  float:left;
  background-color: #ffcccc;
  padding: 0px 30px 10px 30px;
  margin-left: 60px;
  width: 200px;
}

/* Class Selector f_user�� �����Ǿ� �ִ� Element�� ����*/
.f_user{
  float:left;
  background-color: #ffcccc;
  padding: 0px 30px 10px 30px;
  margin-left: 60px;
  width: 200px;
}
